@using PagedList.Mvc;
@using Office_Dll;
@model PagedList.IPagedList<db_User>




<script>
$(document).ready(function () {



    $("#reset").click(function(){
        $("#Id").val("");
        $("#User_Name").val("");
        $("#empid").val("");

        $('#empname').prop('readonly', true);
        $('#empname').val("");
        $("#Active").prop("checked", true);
        $("#Password").val("");
        $("#rePassword").val("");
    });

    $("#submit").click(function(){
        if ($('#cupassword').val().trim() == '')
    {

            $('#message').html("Current Password require");

    }
  

    else if ($('#Password').val().trim() == '')
    {

        $('#message').html("Password require");

    }
    else if( $('#Password').val().length <8)
    {
        $('#message').html("Password Must Be 8 Digit");

    }
    else if( $('#Password').val()!=$('#rePassword').val())
    {
        $('#message').html("Password Not Match");

    }
    else {


           

            var fun = '@Url.Action("PasswordEdit")';
            $.fn.ajaxfuncall(fun);


           }

                

  });

$.fn.ajaxfuncall = function (fun) {
   
      
    Password= $("#Password").val().trim();
    cupassword=$("#cupassword").val().trim();

    

    $.ajax({
        url: fun,
        data: JSON.stringify({ cupassword: cupassword, Password, Password }),
        type: 'POST',
        dataType: 'json',
        async: false,
        contentType: 'application/json',
        success: function (message) {

            if (message == false) {
                $('#message').html("Password Incorrect");

            }
            else {
                $("#rePassword").val("");
                $("#Password").val("");
                $("#cupassword").val("");
                $('#message').html("Password Change");
             
            }



        }
    });



}




    });
</script>





<!-- start content -->
<div id="content">

    <!--  start page-heading -->
    <div id="page-heading">
        <h1>User Info Management</h1>
    </div>
    <!-- end page-heading -->

    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
            <th class="topleft"></th>
            <td id="tbl-border-top">&nbsp;</td>
            <th class="topright"></th>
            <th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
        </tr>
        <tr>
            <td id="tbl-border-left"></td>
            <td>

                    <div id="table-content">


                        <table border="0" cellpadding="0" cellspacing="0" id="id-form" style="margin-top:5px;">
                            <tr>
                                <div class="alert alert-success">

                                    <span id="message">&nbsp</span>
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>

                            </tr>

                            <tr>
                                <th valign="top">Current Password:</th>
                                <td>
                                    <input type="password" class="inp-form" value="" id="cupassword" name="cupassword"  />

                                </td>
                                <td></td>
                            </tr>

                            <tr>
                                <th valign="top">Password:</th>
                                <td><input type="password" class="inp-form" id="Password" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th valign="top">Re-Password:</th>
                                <td><input type="password" class="inp-form" id="rePassword" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>

                                <td valign="top">

                                    <input type="button" value="Change" class="form-submit" id="submit" />
                                 
                                </td>
                                <td></td>
                            </tr>


                        </table>
                        

                    </div>

                   
                   

             
                <!-- end id-form  -->
                </td>
            <td id="tbl-border-right"></td>
        </tr>

        <tr>
            <th class="sized bottomleft"></th>
            <td id="tbl-border-bottom">&nbsp;</td>
            <th class="sized bottomright"></th>
        </tr>
    </table>
</div>
